body {
  background-image: url("/images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  width: 1440px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
}
img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.section img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.main {
  background-color: #ffffff;
  border-radius: 10px;
  width: 25%;
  height: fit-content;
  padding-bottom: 30px;
}
.main img + h3,
.main h3 + p {
  text-align: center;
}
.main img + h3 {
  color: hsl(223, 47%, 23%);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 24px;
  margin-bottom: 15px;
}
.main h3 + p {
  color: hsl(224, 23%, 55%);
  font-size: 16px;
}
.section {
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;
  margin-bottom: 20px;
}
.section article {
  display: flex;
  align-items: center;
  gap: 0;
}
.change {
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  font-weight: bold;
}
.section div p:first-child {
  color: hsl(223, 47%, 23%);
  font-weight: bolder;
  margin-bottom: 0;
  font-size: 16px;
  text-transform: capitalize;
}

.section div p:nth-child(2) {
  margin-top: 5px;
  color: hsl(224, 23%, 55%);
  font-size: 16px;
  text-transform: capitalize;
}

.payment {
  display: block;
  background-color: hsl(245, 75%, 52%);
  text-align: center;
  padding: 10px 0;
  color: white;
  border-radius: 10px;
  margin: 1px 25px;
  box-shadow: 0 15px 5px rgb(228, 231, 243);
  text-decoration: none;
}
.payment:hover {
  opacity: 0.5;
  background-color: red;
}

.cancel {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
}
